:root {
  --color-black: black;
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-600: rgb(0.67, 0.67, 0.67);
  --color-green: #80b435;
  --color-green-200: #6a942c;
  --color-white: #fff;
  --color-gray: gainsboro;
  --color-gray-100: #ececec;
}
